@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100;600&display=swap');
html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

}
body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #A0D7FF;
}
.ball{
  position: relative;
  left: 15%;
  height: 500px;
  width: 500px;
  background-color: #109DFF;
  border-radius: 100%;
}
.calculator{
  position: absolute;
  width: 340px;
  height: 600px;
  background: rgba(255, 255, 255, 0.53);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);
}
.display{
  flex-wrap: wrap;
  height: 30%;
  margin: 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.596);
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
  
}
.displayText{
  scroll-behavior: smooth;
  overflow-x: auto;
  margin-right: 15px;
  font-family: 'Libre Franklin', sans-serif;
  color: rgb(124, 124, 124);
}

::-webkit-scrollbar-track{
  background: #00010200;
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: #1a9cff25;

  border-radius: 20px;
}
.digits{
  flex-wrap: wrap;
  margin-top: 10%;
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttons{
  background: rgba(255, 255, 255, 0.596);
  border: 0;
  border-radius: 20px;
  flex: 1 0 19%;
  font-size: larger;
  color: rgb(39, 39, 39);
  margin: 2.6%; 
  width: 20%;
  height: 15%;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}
.buttonsEsp{
  background: #ADE2FF;
  border: 0;
  border-radius: 20px;
  
  font-size: larger;
  color: #109DFF;
  margin: 3%; 
  width: 20%;
  height: 15%;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}
.Numbers{
  width: 100%;
  height: 100%;

}
.buttonsEspLeft{
  background: #ADE2FF;
  border: 0;
  border-radius: 20px;
  
  font-size: larger;
  color: #109DFF;
  margin-bottom: 3%;
  width: 20%;
  height: 16.5%;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}
.buttonsLeft{
  background: #ADE2FF;
  border: 0;
  border-radius: 20px;
  margin-bottom: 3%;
  font-size: larger;
  color: #109DFF; 
  width: 20%;
  height: 30%;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}
.button0{
  background: rgba(255, 255, 255, 0.596);
  border: 0;
  border-radius: 20px;
  flex: 1 0 19%;
  font-size: larger;
  color: rgb(39, 39, 39);
  margin: 3%; 
  width: 44%;
  height: 15%;
  font-family: 'Libre Franklin', sans-serif;
  cursor: pointer;
}
.operations{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 3%;
  justify-content: center;
  flex-direction: column;
  position: relative;
  right: 22%;
}
.buttons:hover{
  background: rgba(255, 255, 255, 0.863);
  transition: 500ms;
}
.waves{
  position: relative;
  bottom: 0%;
}
